@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --smooth-corners: X[, Y];
  }
}

@layer components {
  .loader {
    @apply !border-r-transparent;
    animation: loader-rotate 1s linear infinite;
  }

  @supports (
    (-webkit-backdrop-filter: blur(0px)) or (backdrop-filter: blur(0px))
  ) {
    header {
      @apply backdrop-blur-xl bg-[rgba(0,0,0,0.8)];
    }
  }

  @supports not (
    (-webkit-backdrop-filter: blur(0px)) or (backdrop-filter: blur(0px))
  ) {
    header {
      @apply bg-[#030712];
    }
  }

  header {
    @apply text-[#9ca3af];

    .nav-link {
      @apply relative;
      &:hover {
        @apply bg-[#111827];
      }
    }
  }

  header .nav-link-active-indicator {
    @apply hidden;
  }

  header .nav-link.next-link-active {
    @apply text-white;
  }

  header .nav-link.next-link-active .nav-link-active-indicator {
    @apply absolute text-[#fbb83b] bottom-1 block h-1 left-1/2 -translate-x-1/2;
  }

  .nav-link {
    @apply relative items-center justify-center rounded-full h-full p-[1.25rem_0.75rem] transition-all;
  }

  @media (min-width: 1280px) {
    .nav-link {
      @apply px-5;
    }
  }
  .bg-accent-yellow-base {
    @apply bg-[#fbb83b];
  }
  .bg-accent-yellow-darken:hover {
    @apply bg-[#fbaf23];
  }

  .text-accent-yellow-base {
    @apply text-[#fbb83b];
  }

  .bg-accent-yellow-lighten {
    @apply bg-[#fcc155];
  }

  .font-heading {
    @apply font-barlow font-extrabold;
  }

  .hero-links-card {
    @apply flex items-center justify-between h-full rounded-2xl gap-x-4 p-[1rem_1.5rem];
  }

  .hero-links-card .hero-links-content {
    @apply flex flex-col items-start gap-y-2;
  }

  .hero-links-card .hero-links-content .hero-links-title {
    @apply text-white font-barlow font-extrabold text-2xl;
  }

  @media (min-width: 640px) {
    .hero-links-card .hero-links-content .hero-links-title {
      @apply text-3xl;
    }
  }

  .hero-links-card .hero-links-content .hero-links-description {
    @apply text-[#d1d5db] text-xs;
  }

  @media (min-width: 640px) {
    .hero-links-card .hero-links-content .hero-links-description {
      @apply text-sm;
    }
  }

  @media (min-width: 1024px) {
    .hero-links-card .hero-links-content .hero-links-description {
      @apply line-clamp-2;
    }
  }

  .hero-links-card .hero-links-button {
    @apply flex shrink-0 items-center justify-center bg-[#fff] text-[#000] aspect-square rounded-full w-20 transition-transform duration-300;
  }

  .hero-links-card .hero-links-button:hover {
    @apply scale-105;
  }

  .hero-links-card .hero-links-button:active {
    @apply scale-95;
  }

  @media (min-width: 1800px) {
    .hero-links-card .hero-links-button {
      @apply w-24;
    }
  }

  #hero-gallery img {
    @apply aspect-video rounded-2xl h-full object-cover select-none w-full shadow-md transition-transform duration-300;
  }

  #hero-gallery img:hover {
    @apply rotate-2;
    --tw-rotate: 2deg;
  }

  .from-accent-yellow-base {
    @apply bg-gradient-to-r from-[#fbb83b] to-[rgba(251,184,59,0)];
  }

  /* footer */

  .footer-link-container {
    @apply flex flex-col col-span-1 lg:col-span-2;
  }

  .footer-link-container .footer-link-label {
    @apply text-white font-bold text-base sm:text-lg;
  }

  .footer-link-container .footer-link-list {
    @apply flex flex-col text-sm mt-4 gap-y-4;
  }

  .footer-link-container .footer-link-list a {
    @apply transition-colors;
  }

  .footer-link-container .footer-link-list a:hover {
    @apply text-white;
  }

  /* guest star */
  .title-guest-stars > span {
    @apply font-barlow font-extrabold bg-clip-text text-transparent text-[18vw] !leading-[1.1] uppercase xs:text-[16vw] md:text-[14vw] lg:text-[15vw] 1.5xl:text-[14vw];
  }

  #guest-slider .slide-item {
    @apply aspect-[4/5] !w-[200px] lg:!w-[280px] xl:!w-[320px] 1.5xl:!w-[340px] 3xl:!w-[360px];
  }

  #guest-slider .slide-item:not(:first-child) {
    @apply ml-2;
  }

  #guest-slider .slider-nav-btn {
    @apply flex justify-center items-center h-14 text-[#d1d5db] bg-[#111827] aspect-square rounded-full transition-all duration-200;
  }

  #guest-slider .slider-nav-btn:active {
    @apply scale-95;
  }

  .slider-with-margin-on-first-and-last-item .slide-item:first-child {
    @apply shrink-0 ml-4 xs:ml-[calc(50%-270px+1rem)] sm:ml-[calc(50%-320px+1rem)] md:ml-[calc(50%-384px+1rem)] lg:ml-[calc(50%-512px+1rem)] xl:ml-[calc(50%-640px+1rem)] 1.5xl:ml-[calc(50%-750px+1rem)] 3xl:ml-[calc(50%-900px+3rem)];
  }
  .slider-with-margin-on-first-and-last-item .slide-item:last-child {
    @apply shrink-0 mr-4 xs:mr-[calc(50%-270px+1rem)] sm:mr-[calc(50%-320px+1rem)] md:mr-[calc(50%-384px+1rem)] lg:mr-[calc(50%-512px+1rem)] xl:mr-[calc(50%-640px+1rem)] 1.5xl:mr-[calc(50%-750px+1rem)] 3xl:mr-[calc(50%-900px+3rem)];
  }

  .swiper-button-disabled {
    @apply !opacity-50 !pointer-events-auto;
  }

  #rundown-slider .slide-item {
    @apply aspect-[4/5] !w-[90%] xs:!w-4/5 sm:!w-[70%] lg:!w-[500px];
  }

  #rundown-slider .slide-item:not(:first-of-type) {
    @apply ml-2;
  }

  #rundown-slider .slider-nav-btn {
    @apply flex justify-center items-center h-14 text-[#d1d5db] bg-[#111827] aspect-square rounded-full transition-all duration-200;
  }

  #rundown-slider .slider-nav-btn:active {
    @apply scale-95;
  }

  #brands-slider .slide-item {
    @apply mr-4 w-[80px] sm:w-[80px] xl:mr-6 xl:w-[100px] 1.5xl:w-[150px];
  }

  #brands-slider .slide-item:nth-last-of-type(2) {
    @apply !mr-0;
  }

  @supports (
    (-webkit-mask-image: paint(smooth-corners)) or
      (mask-image: paint(smooth-corners))
  ) {
    .smooth-corners {
      @apply [mask-image:paint(smooth-corners)] [-webkit-mask-image:paint(smooth-corners)];
    }

    .smooth-corners > a {
      @apply z-20;
    }

    .smooth-corners,
    .smooth-corners > a {
      @apply !rounded-none;
    }
  }

  .sc-3 {
    --smooth-corners: 3;
  }

  .sc-4 {
    --smooth-corners: 4;
  }

  .slide-item[data-v-787f3024] {
    @apply ml-2 w-[90%] sm:w-full sm:max-w-[500px] xl:max-w-[640px];
    margin-left: 0.5rem;
  }

  .banner-slide-img {
    @apply aspect-video rounded-md w-full h-full object-cover pointer-events-none select-none;
  }

  .swiper-pagination-bullet.swiper-pagination-bullet-active {
    @apply !bg-[#fbb83b] !opacity-100 !w-4;
  }
  .swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
    @apply !bg-[#4b5563] !opacity-100;
  }

  /* animation */
  @keyframes loader-rotate {
    0% {
      transform: rotate(0);
    }

    to {
      transform: rotate(1turn);
    }
  }

  @keyframes spin-clockwise {
    to {
      transform: rotate(1turn);
    }
  }

  @keyframes spin-anticlockwise {
    to {
      transform: rotate(-1turn);
    }
  }
}
